.company-section
  height: 2000px
  width: 100%
  background-color: #ecf0f1

  h3
    color: #34495e
    margin-top: 0
    padding-top: 75px
    text-align: center
    text-transform: uppercase
    letter-spacing: 5px

  .company-photo
    justify-content: space-around
    margin-left: auto
    margin-right: auto
    margin-top: 40px
    max-width: 700px
    height: 300px
    background:
      image: url(../img/company-photo1.jpg)
      size: cover
      repeat: no-repeat

  .company-description
    margin-left: auto
    margin-right: auto
    background-color: #bdc3c7
    max-width: 600px
    height: 300px
    text-align: center

    p
      color: #7f8c8d
      letter-spacing: 2px
      font-weight: 500
      font-size: 19px
      line-height: 30px
      justify-content: space-around


      strong
        color: #34495e
