footer
  height: 285px
  background-color: #7f8c8d

  .footer-container
    padding-top: 10px

    .footer-logo
      margin-top: 20px
      display: block
      height: 30px
      width: 200px
      background-image: url(../img/logo1.svg)
      background-size: cover
      background-repeat: no-repeat
      margin-left: auto
      margin-right: auto

    .copyright
      letter-spacing: 1px
      text-align: center
      font-size: 14px
      color: #2c3e50

  .footer-icons
    padding-top: 10px
    text-align: center
    margin-top: 20px
    a
      margin-right: 20px
      margin-left: 20px
      display: inline-block

      svg
        max-height: 40px
        max-width: 40px
        path
          fill: #bdc3c7
      &:hover svg path
        fill: black

//Mobile Responsive
@media(max-width: 450px)
  footer
    height:250px

    .footer-container

    .footer-icons

      a
        margin-right: 10px
        margin-left: 10px
