header
  padding: 0
  margin: 0
  max-width: 100%
  height: 450px
  background:
    color: #5fcf80
    position: center
    repeat:no-repeat
    size: cover

  .navigation
    padding: 0
    margin: 0
    width: 100%
    height: 80px
    background-color: white
    position: fixed
    box-shadow: 0px 2px 11px #7f8c8d
    z-index: 2

    .logo
      margin:
        top: 20px
        left: 10px
      float: left
      height: 40px
      width: 250px
      background:
        image: url(../img/logo-nav.jpg)
        size: cover
        repeat:no-repeat

    nav
      float: right
      margin: 30px 30px 0px 0px

      a
        text:
          decoration: none
          transform: uppercase
        font:
          size:14px
          weight: 600
        margin-left: 20px
        color: #2c3e50

        &:hover
          color: black

  .home
    padding-top: 130px

    .big-logo
      height: 150px
      width: 150px
      background:
        image: url(../img/logo.jpg)
        size: contain
      margin: 50px auto auto auto
      border-radius: 50%

    .title
      font-size: 48px
      margin-top: 60px
      color: white
      text-align: center
      text-transform: uppercase
      font-weight: 800
      letter-spacing: 15px

//Menu for Mobile phone
@media(max-width: 790px)
  header

    .navigation

    #mobile-menu
      float: right
      width: 50px
      height: 50px
      background-image: url(../img/menu.svg)
      background-size: cover
      margin-top: 10px
      margin-right: 10px

    #menu-list
      background-color: white
      width: 100%
      text-align: center
      float: right
      margin-top: 5px
      margin-right: 0

      a
        font-size: 18px
        display: block
        margin-top: 15px
        max-width: 100%

    .hide
      display: none
//Responsive view
@media(max-width: 450px)
  header
    .home
      max-width: 100%

      .title
        font-size: 24px

@media(max-width: 330px)
  header
    .navigation
      .logo
        height: 30px
        width: 220px
