.project-section
  overflow: hidden

  h3
    color: #34495e
    margin-top: 0
    padding-top: 85px
    padding-bottom: 50px
    text-align: center
    text-transform: uppercase
    letter-spacing: 5px

  .project-belt
    width: 200%
    position: relative
    left: 0%
    transition: 0.5s

    .left-wrap, .right-wrap
      width: 50%
      float: left

      .project-category
        max-width: 960px
        margin: 0 auto
        padding-bottom: 100px

        &::after
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0;

        .category-unit
          cursor: pointer
          position: relative
          display: block
          float: left
          width: 50%
          padding-top: 30%
          overflow: hidden


          &.photo-1
            background-image: url(../img/company-photo3.jpg)
            background-size: cover
            background-repeat: no-repeat

          &.photo-2
            background-image: url(../img/company-photo2.jpg)
            background-size: cover
            background-repeat: no-repeat


          .category-overlay
            position: absolute
            top: 100%
            right: 0
            left: 0
            background: rgba(36, 174, 218,0.5)
            height: 100%
            text-align: center
            transition: 0.8s

            strong
              display: block
              padding: 25%
              font:
                size:24px
                weight:600
              letter-spacing: 3px
              text-transform: uppercase
              color: rgba(236, 240, 241,1.0)

          &:hover .category-overlay
            position: absolute
            top: 0%
            right: 0
            left: 0

.project-container
  position: relative
  max-width: 600px
  margin: 0px auto

  h4
    margin-top: 0px
    color: #2c3e50
    font-size: 24px
    font-weight: 300
    text-transform: uppercase

  img
    max-width: 100%

  .return-icon
    cursor: pointer
    height: 40px
    width: 40px
    opacity: 0.3
    position: absolute
    left: -60px
    bottom: 0px
    top:-4px
    right:0px

    svg
      height: 40px
      width: 40px
    path
      fill: rgba(44, 62, 80,1.0)
    &:hover
      opacity: 1


//responsive
@media(max-width:800px)
  .project-container

    .return-icon
      position: absolute
      top:-5px
      right: 0px
      bottom: 0px
      left: 0px

    h4
      margin-left: 60px
